<!DOCTYPE html>
<html>
  <head>
    <title>Ps1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


    <br/> <br/> <br/>
    <%= link_to("Validator", 'http://validator.w3.org/check?uri=referer') %>
  </body>
</html>
